@import 'tailwindcss';
@import '@gdg/wowds/fonts.css';
@import '@gdg/wowds/theme.css';

@source '../../../packages/wowds/ui';

@theme {
  --breakpoint-xl: 1440px;
  --breakpoint-l: 1024px;
  --breakpoint-m: 768px;
  --breakpoint-s: 600px;
  --breakpoint-xs: 360px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceDown {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(6px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
